@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-gray-900 bg-gray-100;
  }

  body {
    @apply min-h-screen;
  }
}

@media print {
  body {
    @apply bg-white text-gray-900;
  }

  .no-print {
    display: none !important;
  }

  .print\:block {
    display: block !important;
  }

  .print\:break-after-page {
    break-after: page;
  }

  .print\:p-0 {
    padding: 0 !important;
  }

  .print\:shadow-none {
    box-shadow: none !important;
  }

  table {
    page-break-inside: auto;
  }

  tr {
    page-break-inside: avoid;
    page-break-after: auto;
  }
}
